@font-face {
    font-family:  'Oswald';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url('../fonts/Oswald-ExtraLight.woff2') format('woff2');
        src: url('../fonts/Oswald-ExtraLight.woff') format('woff');
}


@font-face {
    font-family:  'Oswald';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/Oswald-Light.woff2') format('woff2');
        src: url('../fonts/Oswald-Light.woff') format('woff');
}

@font-face {
    font-family:  'Oswald';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Oswald-Regular.woff2') format('woff2');
        src: url('../fonts/Oswald-Regular.woff') format('woff');
}

@font-face {
    font-family:  'Oswald';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/Oswald-Bold.woff2') format('woff2');
        src: url('../fonts/Oswald-Bold.woff') format('woff');
}



@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 300;
    src: url('../fonts/CormorantGaramond-Light.woff2') format('woff2');
        src: url('../fonts/CormorantGaramond-Light.woff') format('woff');
}

@font-face {
    font-family: 'Cormorant Garamond';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url('../fonts/CormorantGaramond-Regular.woff2') format('woff2');
        src: url('../fonts/CormorantGaramond-Regular.woff') format('woff');
}