html,
body {
	height: 100%;
	color: $color-white;
	@extend %oswald-400;
	// background-color: #282828;
	background-color: $color-black;
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.main {
	flex: 1 0 auto;
}
.footer {
	flex: 0 0 auto;
}

.container{
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}
button{
	cursor: pointer;
}







