.heading {
    background: url('../images/home/bg.jpg') no-repeat center;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}
.heading__title {
    padding-top: 100px;
    margin-bottom: 50px;
    max-width: 1120px;
    @extend %cormorant-300;
    font-size: 200px;
    line-height: 165px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
}
.heading__subtitle {
    margin-bottom: 65px;
    @extend %oswald-400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
}
.heading__btn {
    @extend %button;
}


// CATALOG
.catalog {
    background: url('../images/home/catalog.svg') no-repeat top;
    background-size: cover;
    padding-bottom: 150px;
}
.catalog__title {
    padding-top: 100px;
    margin-bottom: 15px;
    @extend %cormorant-400;
    font-size: 100px;
    line-height: 121px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}

.catalog__box-top {
    display: flex;
    justify-content: space-between;
}
.catalog__box-item--one{
    max-width: 540px;
}

.catalog__box-text {
    margin-bottom: 30px;
    @extend %oswald-400;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.04em;
}
.catalog__box-item--two {
    padding: 30px 100px 40px 50px;
    max-width: 445px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.catalog__box-title {
    margin-bottom: 15px;
    @extend %oswald-700;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: $color-green;
}

.catalog__box-list-item {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    list-style: disc;
}
.catalog__box-link {
    margin-top: 25px;
    display: block;
    width: 119px;
    margin-left: auto;
    margin-right: -90px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #D978AC;
}
.catalog__box-bottom {
    display: flex;
    justify-content: space-between;
}
.catalog__box-item--three,
.catalog__box-item--four {
    padding: 30px 100px 40px 50px;
    width: 540px;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 20px;
}
.catalog__box-item--three{
    transform: translateY(-50px);
}
.catalog__box-item--four {
    margin-top: 50px;
}



// POPULAR
.popular {
    background: url('../images/home/popular-bg.png') no-repeat center;
    background-size: cover;
    padding-bottom: 100px;
}

.popular__title {
    margin-bottom: 15px;
    @extend %cormorant-400;
    font-size: 100px;
    line-height: 100px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
}
.popular__title span{
    max-width: 400px;
    margin-left: 250px;
}
.popular__subtitle {
    margin-bottom: 90px;
    @extend %oswald-400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    text-align: center;
}
.popular__block {
    margin-bottom: 60px;
}
.popular__block-slider {
}
// .popular__block-item {
//     display: flex !important;
//     flex-direction: column;
//     align-items: center;
//     justify-content: center;
// }
.popular__block-img {
    margin-bottom: 10px;
}
.popular__block-title {
    margin-bottom: 10px;
    font-size: 20px;
    line-height: 30px;
    @extend %oswald-400;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.popular__block-price,
.popular__block-price-old {
    margin-bottom: 20px;
    @extend %oswald-400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
}
.popular__block-btn {
    padding: 16px 70px;
    width: 220px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-transform: uppercase; 
    @extend %oswald-700;  
    color: $color-white;
}
.popular__block-price-new {
}
.popular__block-price-old {
    color: #939393;
    text-decoration: line-through;
}
.popular__link{
    margin-top: 25px;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #D978AC;
}
.slick-prev-left,
.slick-next-right{
    position: absolute;
    width: 90px;
    height: 6px;
    top: 40%;
    padding: 0;
    font-size: 0;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
}
.slick-prev-left{
    background-image: url('../images/home/popular-arrow-left.svg');
    z-index: 10;
    left: -85px;
}
.slick-next-right{
    background-image: url('../images/home/popular-arrow-right.svg');
    right: -85px;
}
.popular__block-item--sale{
    position: relative;
    z-index: 0;
}
.popular__block-item--sale::before{
    content: 'new';
    position: absolute;
    width: 60px;
    height: 60px;
    background-color: $color-pink;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 10px;
}
